html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.flex-container {
  display: flex;
  max-height: 1000px;
  min-height: 1000px;
}

.flex-container > div {
  font-size: 30px;
}

.flex-container-d{
  display: flex;
  flex-direction: row;
}


.title-bar{
  border-radius: 25px;
  background-color: #F9B000;
  width: 700px;
  max-width: 700px;
  min-width: 700px;
  height: 80px;
  flex-direction: row-reverse;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 300px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}


.lateral-menu{
  border-radius: 25px;
  background-color: #F9B000;
  width: 280px;
  max-width: 280px;
  min-width: 280px;
  height: 900px;
  flex-direction: row-reverse  
}

.lateral-nav{
  padding-left: 40px;
  padding-top: 80px;
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.home-clock{
  text-align: center;
  padding-top: 50px;
  font-size:75px; 
  color: white;
}

.add-routine{
  text-align: center;
  padding-top: 250px;
  flex-direction: row-reverse;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.create-routine-button{
  height: 300px;
  text-align: center;
  padding-top: 35px;
  padding-left: 120px;
  flex-direction: row-reverse;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.home{
  padding-bottom: 30px;
  font-size:30px;
}
.edit{
  padding-bottom: 30px;
  font-size:30px;
}
.report{
  padding-bottom: 30px;
  font-size:30px;
}

.add-temp{
  margin: 35px;
  font-size:30px;
}

a:link, a:visited, a:active {
  text-decoration:none;
  color: black;
}

.create-card{
  width: 1550px;
  min-width: 1550px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-style: groove;
  border-radius: 25px;
}

.title-card{
  width: 500px;
  height: 70px;
  min-width: 500px;
  max-width: 500px;
  max-height: 70px;
  min-height: 70px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 25px;
  background-color: #F9B000;
  font-family: 'Montserrat', sans-serif;

}

.styled-table {
  width: 1550px;
  min-width: 1500px;
  max-width: 1500px;
  margin-top: 20px;
  margin-left: 15px;
  border-collapse: collapse;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table-container {
  width: 1050px;
  min-width:1050px;
  max-width: 10500px;
  margin-top: 20px;
  margin-left: 15px;
  border-collapse: collapse;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  color: #9FA2B4;
  text-align: center;
}

.styled-table th,
.styled-table td {
  padding: 1px 1px;
  height: 120px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

:root {
  --color-green: #e5f0e8;
  --color-red: #0dfa39;
  --color-button: #fdffff;
  --color-black: #000;
}
.switch-button {
  display: inline-block;
}
.switch-button .switch-button__checkbox {
  display: none;
}
.switch-button .switch-button__label {
  background-color: var(--color-red);
  width: 5rem;
  height: 3rem;
  border-radius: 3rem;
  display: inline-block;
  position: relative;
}
.switch-button .switch-button__label:before {
  transition: .2s;
  display: block;
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: var(--color-button);
  content: '';
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px var(--color-black);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
  background-color: var(--color-green);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
  transform: translateX(2rem);
}

